* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./img/background.png');
}

.color {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}

#pixel-board {
  left: 22px;
  width: 799px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  margin: auto;
  /* border: 1px solid black; */
}

.pixel {
  width: 15px;
  height: 15px;
  background-color: white;
  border: 1px solid black;
}

.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.selected {
  background-color: black;
}

#clear-board {
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 13px;
  background-color: blue;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 4px;
  width: 95px;
  opacity: 95%;
}

#clear-board:hover {
  opacity: 100%;
  cursor: pointer;
}

#container {
  margin-top: 20px;
  width: 90vw;
}

#container-buttons {
  text-align: center;
  margin-top: 79px;
}

#colorPalette {
  width: 200px;
  height: 75px;
  border-radius: 20px;
  background: none;
  border: none;
  cursor: pointer;
}